html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	/* overflow: hidden; */
	/* font-family: MONOSPACE; */
	font-family: 'Open Sans', sans-serif;
	background: dodgerblue;
}

#root {
	width: 100%;
	height: 100%;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: red;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

header {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	color: white;
	margin: 12px 48px 12px 48px;
}

.Calendar__wrapper {
	width: 90%;
	height: 100%;
	max-height: 80%;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	border-radius: 12px;
	justify-content: center;
	align-items: center;
	background: white;
	flex-direction: column;
}
.Kalend__Calendar__root,
.Kalend__Calendar__root-dark {
	width: 100% !important;
	border-radius: 20px;
}

.Kalend__main * {
	font-family: 'Open Sans', sans-serif !important;
}

button.Kalend__Event-agenda,
button.Kalend__Event-agenda:hover,
button.Kalend__Event-agenda-dark,
button.Kalend__Event-agenda-dark:hover {
	height: 48px !important;
	margin-top: 4px !important;
	width: auto !important;
}

.Kalend__Event__time {
	white-space: nowrap;
	min-width: 80px;
}
.Kalend__CalendarDesktopNavigation__container,
.Kalend__CalendarDesktopNavigation__container-dark,
.Kalend__CalendarDesktopNavigation__container-mobile,
.Kalend__CalendarDesktopNavigation__container-mobile-dark {
	height: 55px !important;
}

@media (max-width: 750px) {
	header {
		display: none;
	}
	.Calendar__wrapper {
		max-height: 70%;
	}
}

@media (prefers-color-scheme: dark) {
	html body {
		background: #1d1c40;
	}
	.Calendar__wrapper {
		background: #1d1f26;
	}
	.venue {
		background: #1d1f26 !important;
		/* background: #3e498c !important; */
		color: white !important;
	}
	.Kalend__Event-agenda-dark,
	.Kalend__Event-agenda-dark:hover {
		filter: none !important	;
	}
}
