@import-normalize;

* {
	box-sizing: border-box;
}

html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

#root {
	width: 100%;
	height: 100%;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: #328dc3;
}

h3 {
	margin-bottom: 16px;
	margin-top: 32px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	align-items: center;
}

.Calendar__wrapper {
	width: 90%;
	height: 100%;
	max-height: 80%;
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	border-radius: 12px;
	justify-content: center;
	align-items: center;
	background: white;
	flex-direction: column;
}
.Kalend__Calendar__root,
.Kalend__Calendar__root-dark {
	width: 100% !important;
	border-radius: 12px;
}

.Kalend__main * {
	font-family: 'Open Sans', sans-serif !important;
}

button.Kalend__Event-agenda,
button.Kalend__Event-agenda:hover,
button.Kalend__Event-agenda-dark,
button.Kalend__Event-agenda-dark:hover {
	/* height: 48px !important; */
	height: auto !important;
	margin-top: 4px !important;
	width: auto !important;
}

.Kalend__Event__time {
	white-space: nowrap;
	min-width: 65px;
}
.Kalend__CalendarDesktopNavigation__container,
.Kalend__CalendarDesktopNavigation__container-dark,
.Kalend__CalendarDesktopNavigation__container-mobile,
.Kalend__CalendarDesktopNavigation__container-mobile-dark {
	height: 55px !important;
}

.Kalend__EventAgenda__container > div > div {
	filter: none !important;
}
.Kalend__Event__summary__type-agenda,
.Kalend__Event__summary__type-agenda-dark {
	padding: 0px 8px !important;
	flex: 1;
}

@media (max-width: 750px) {
	.Calendar__wrapper {
		max-height: 70%;
	}
}

/* @media (prefers-color-scheme: dark) { */
html body {
	background: #1d1c40;
}
.Calendar__wrapper {
	background: #1d1f26;
}
.venue {
	background: #1d1f26 !important;
	/* background: #3e498c !important; */
	color: white !important;
}
.Kalend__Event-agenda-dark,
.Kalend__Event-agenda-dark:hover {
	filter: none !important	;
}
/* } */
